.bar-left {
  margin-left: 20px;

  .left-text {
    color: #fff;
    text-decoration: none;
    font-size: 36px;
  }
}

.centerBar {
  display: 'inline-block';
  margin-left: '80px';
  text-align: 'center';
  width: '400px';
}
